--
-- PostgreSQL database dump
--

\restrict voSjkFWvbx5d0p5ibklI4V5yQ6qzrMtcVNRy30Ak0i0oD3bufhE1JN7umle7dIF

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id integer NOT NULL,
    action character varying(50) NOT NULL,
    actor_name character varying(255),
    changes jsonb,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: device_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_details (
    device_id integer NOT NULL,
    os character varying(255),
    ram character varying(255),
    disk_space character varying(255),
    device_age character varying(255),
    serial_number character varying(255),
    warranty_expiry date,
    location character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    user_name character varying(255),
    install_date date,
    manufacturer character varying(255)
);


ALTER TABLE public.device_details OWNER TO postgres;

--
-- Name: device_software; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_software (
    id integer NOT NULL,
    device_id integer NOT NULL,
    software_id integer NOT NULL
);


ALTER TABLE public.device_software OWNER TO postgres;

--
-- Name: device_software_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_software_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_software_id_seq OWNER TO postgres;

--
-- Name: device_software_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_software_id_seq OWNED BY public.device_software.id;


--
-- Name: device_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_status_history (
    id integer NOT NULL,
    device_id integer NOT NULL,
    previous_status character varying(50),
    new_status character varying(50) NOT NULL,
    changed_at timestamp with time zone DEFAULT now() NOT NULL,
    actor_name character varying(255),
    metadata jsonb
);


ALTER TABLE public.device_status_history OWNER TO postgres;

--
-- Name: device_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_status_history_id_seq OWNER TO postgres;

--
-- Name: device_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_status_history_id_seq OWNED BY public.device_status_history.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    name character varying(255),
    ip_address character varying(255),
    type character varying(255),
    status character varying(50) DEFAULT 'Active'::character varying,
    x_position double precision,
    y_position double precision,
    floor_id integer,
    icon character varying(32) DEFAULT '💻'::character varying
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_id_seq OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: floors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.floors (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text
);


ALTER TABLE public.floors OWNER TO postgres;

--
-- Name: floors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.floors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.floors_id_seq OWNER TO postgres;

--
-- Name: floors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.floors_id_seq OWNED BY public.floors.id;


--
-- Name: hardware; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hardware (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    manufacturer character varying(255),
    model character varying(255),
    purchase_date date,
    cost character varying(255),
    warranty_expiry date,
    status character varying(50) DEFAULT 'Active'::character varying,
    location character varying(255)
);


ALTER TABLE public.hardware OWNER TO postgres;

--
-- Name: hardware_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hardware_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hardware_id_seq OWNER TO postgres;

--
-- Name: hardware_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hardware_id_seq OWNED BY public.hardware.id;


--
-- Name: port_connections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.port_connections (
    id integer NOT NULL,
    switch_port_id integer NOT NULL,
    connected_device_id integer,
    remote_port_id integer,
    cable_label character varying(255),
    notes text,
    connected_at timestamp with time zone DEFAULT now() NOT NULL,
    disconnected_at timestamp with time zone,
    CONSTRAINT chk_port_connection_endpoint CHECK (((connected_device_id IS NOT NULL) OR (remote_port_id IS NOT NULL)))
);


ALTER TABLE public.port_connections OWNER TO postgres;

--
-- Name: port_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.port_connections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.port_connections_id_seq OWNER TO postgres;

--
-- Name: port_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.port_connections_id_seq OWNED BY public.port_connections.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schema_migrations_id_seq OWNER TO postgres;

--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: software; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.software (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    version character varying(255),
    vendor character varying(255) NOT NULL,
    license_type character varying(255),
    license_expiry date,
    installed_on character varying(255),
    installation_date date
);


ALTER TABLE public.software OWNER TO postgres;

--
-- Name: software_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.software_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.software_id_seq OWNER TO postgres;

--
-- Name: software_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.software_id_seq OWNED BY public.software.id;


--
-- Name: switch_ports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.switch_ports (
    id integer NOT NULL,
    device_id integer NOT NULL,
    port_number character varying(20) NOT NULL,
    label character varying(255),
    speed character varying(50),
    vlan_id integer,
    port_type character varying(50) DEFAULT 'copper'::character varying NOT NULL,
    status character varying(50) DEFAULT 'Active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.switch_ports OWNER TO postgres;

--
-- Name: switch_ports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.switch_ports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.switch_ports_id_seq OWNER TO postgres;

--
-- Name: switch_ports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.switch_ports_id_seq OWNED BY public.switch_ports.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: device_software id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software ALTER COLUMN id SET DEFAULT nextval('public.device_software_id_seq'::regclass);


--
-- Name: device_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_history ALTER COLUMN id SET DEFAULT nextval('public.device_status_history_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: floors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floors ALTER COLUMN id SET DEFAULT nextval('public.floors_id_seq'::regclass);


--
-- Name: hardware id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hardware ALTER COLUMN id SET DEFAULT nextval('public.hardware_id_seq'::regclass);


--
-- Name: port_connections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.port_connections ALTER COLUMN id SET DEFAULT nextval('public.port_connections_id_seq'::regclass);


--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Name: software id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software ALTER COLUMN id SET DEFAULT nextval('public.software_id_seq'::regclass);


--
-- Name: switch_ports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switch_ports ALTER COLUMN id SET DEFAULT nextval('public.switch_ports_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: device_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: device_software; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_software (id, device_id, software_id) FROM stdin;
\.


--
-- Data for Name: device_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_status_history (id, device_id, previous_status, new_status, changed_at, actor_name, metadata) FROM stdin;
16	14	\N	Active	2026-05-09 12:10:34.042262+00	system	{"ip": "::ffff:127.0.0.1", "path": "/api/devices", "method": "POST"}
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: floors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.floors (id, name, description) FROM stdin;
\.


--
-- Data for Name: hardware; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hardware (id, name, type, manufacturer, model, purchase_date, cost, warranty_expiry, status, location) FROM stdin;
1	sgs	sfgs	gsfgf	sgs	\N	sfgsfg	\N	Inactive	sfgsfg
\.


--
-- Data for Name: port_connections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.port_connections (id, switch_port_id, connected_device_id, remote_port_id, cable_label, notes, connected_at, disconnected_at) FROM stdin;
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schema_migrations (id, filename, applied_at) FROM stdin;
1	000_initial_schema.sql	2026-04-19 18:23:04.941231+00
2	001_normalize_devices_and_add_audit.sql	2026-04-19 18:23:05.007021+00
3	002_add_device_user_and_install_date.sql	2026-04-19 18:23:05.128497+00
4	003_add_device_manufacturer.sql	2026-05-02 19:51:12.171894+00
5	004_add_port_management.sql	2026-05-21 18:03:37.68399+00
\.


--
-- Data for Name: software; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.software (id, name, version, vendor, license_type, license_expiry, installed_on, installation_date) FROM stdin;
1	qwq	qeqw	wer	wer	\N	wer	\N
\.


--
-- Data for Name: switch_ports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.switch_ports (id, device_id, port_number, label, speed, vlan_id, port_type, status, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 341, true);


--
-- Name: device_software_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_software_id_seq', 1, false);


--
-- Name: device_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_status_history_id_seq', 18, true);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devices_id_seq', 229, true);


--
-- Name: floors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.floors_id_seq', 1, false);


--
-- Name: hardware_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hardware_id_seq', 1, true);


--
-- Name: port_connections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.port_connections_id_seq', 2, true);


--
-- Name: schema_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schema_migrations_id_seq', 5, true);


--
-- Name: software_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.software_id_seq', 1, true);


--
-- Name: switch_ports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.switch_ports_id_seq', 6, true);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: device_details device_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_details
    ADD CONSTRAINT device_details_pkey PRIMARY KEY (device_id);


--
-- Name: device_software device_software_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_pkey PRIMARY KEY (id);


--
-- Name: device_status_history device_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_history
    ADD CONSTRAINT device_status_history_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: floors floors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.floors
    ADD CONSTRAINT floors_pkey PRIMARY KEY (id);


--
-- Name: hardware hardware_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hardware
    ADD CONSTRAINT hardware_pkey PRIMARY KEY (id);


--
-- Name: port_connections port_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.port_connections
    ADD CONSTRAINT port_connections_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_filename_key UNIQUE (filename);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: software software_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software
    ADD CONSTRAINT software_pkey PRIMARY KEY (id);


--
-- Name: switch_ports switch_ports_device_id_port_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switch_ports
    ADD CONSTRAINT switch_ports_device_id_port_number_key UNIQUE (device_id, port_number);


--
-- Name: switch_ports switch_ports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switch_ports
    ADD CONSTRAINT switch_ports_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_entity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_device_details_install_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_details_install_date ON public.device_details USING btree (install_date);


--
-- Name: idx_device_details_warranty_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_details_warranty_expiry ON public.device_details USING btree (warranty_expiry);


--
-- Name: idx_device_software_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_device_software_unique ON public.device_software USING btree (device_id, software_id);


--
-- Name: idx_device_status_history_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_status_history_device_id ON public.device_status_history USING btree (device_id, changed_at DESC);


--
-- Name: idx_devices_floor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_floor_id ON public.devices USING btree (floor_id);


--
-- Name: idx_devices_ip_address; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_ip_address ON public.devices USING btree (ip_address);


--
-- Name: idx_devices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_status ON public.devices USING btree (status);


--
-- Name: idx_devices_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_type ON public.devices USING btree (type);


--
-- Name: idx_hardware_warranty_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_hardware_warranty_expiry ON public.hardware USING btree (warranty_expiry);


--
-- Name: idx_port_connections_connected_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_port_connections_connected_device_id ON public.port_connections USING btree (connected_device_id);


--
-- Name: idx_port_connections_one_active_per_port; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_port_connections_one_active_per_port ON public.port_connections USING btree (switch_port_id) WHERE (disconnected_at IS NULL);


--
-- Name: idx_port_connections_one_active_per_remote_port; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_port_connections_one_active_per_remote_port ON public.port_connections USING btree (remote_port_id) WHERE ((disconnected_at IS NULL) AND (remote_port_id IS NOT NULL));


--
-- Name: idx_port_connections_remote_port_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_port_connections_remote_port_id ON public.port_connections USING btree (remote_port_id);


--
-- Name: idx_port_connections_switch_port_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_port_connections_switch_port_id ON public.port_connections USING btree (switch_port_id);


--
-- Name: idx_software_license_expiry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_license_expiry ON public.software USING btree (license_expiry);


--
-- Name: idx_switch_ports_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_switch_ports_device_id ON public.switch_ports USING btree (device_id);


--
-- Name: device_details device_details_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_details
    ADD CONSTRAINT device_details_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_software device_software_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_software device_software_software_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_software_id_fkey FOREIGN KEY (software_id) REFERENCES public.software(id) ON DELETE CASCADE;


--
-- Name: device_status_history device_status_history_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_history
    ADD CONSTRAINT device_status_history_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: devices devices_floor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_floor_id_fkey FOREIGN KEY (floor_id) REFERENCES public.floors(id) ON DELETE SET NULL;


--
-- Name: port_connections port_connections_connected_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.port_connections
    ADD CONSTRAINT port_connections_connected_device_id_fkey FOREIGN KEY (connected_device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: port_connections port_connections_remote_port_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.port_connections
    ADD CONSTRAINT port_connections_remote_port_id_fkey FOREIGN KEY (remote_port_id) REFERENCES public.switch_ports(id) ON DELETE SET NULL;


--
-- Name: port_connections port_connections_switch_port_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.port_connections
    ADD CONSTRAINT port_connections_switch_port_id_fkey FOREIGN KEY (switch_port_id) REFERENCES public.switch_ports(id) ON DELETE CASCADE;


--
-- Name: switch_ports switch_ports_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switch_ports
    ADD CONSTRAINT switch_ports_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict voSjkFWvbx5d0p5ibklI4V5yQ6qzrMtcVNRy30Ak0i0oD3bufhE1JN7umle7dIF

